<!DOCTYPE html>
<html>
<head>
    <title>Listado de Préstamos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Listado de Préstamos</h1>
        
        <!-- Barra de búsqueda -->
        <form method="GET" action="">
            <div class="form-group">
                <input type="text" class="form-control" name="q" placeholder="Buscar por título...">
                <button type="submit" class="btn btn-primary mt-2">Buscar</button>
            </div>
        </form>
        
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Encargado</th>
                    <th>Libro</th>
                    <th>Estudiante</th>
                    <th>Fecha de Préstamo</th>
                    <th>Fecha de Devolución</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for prestamo in prestamos %}
                    <tr>
                        <td>{{ prestamo.IdPrestamo }}</td>
                        <td>{{ prestamo.IdLibro }}</td>
                        <td>{{ prestamo.IdEstudiante }}</td>
                        <td>{{ prestamo.FechaPrestamo }}</td>
                        <td>{{ prestamo.FechaDevolucion }}</td>
                        <td>{{ prestamo.IdEncargado.Nombre }}</td>  <!-- Acceder al nombre del encargado -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
